<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" bootstrap="vendor/autoload.php" backupGlobals="false" colors="true" processIsolation="false" stopOnFailure="false" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.1/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <testsuites>
    <testsuite name="Laravel Auth Checker Test Suite">
      <file>tests/AuthCheckerTest.php</file>
      <file>tests/EventsTest.php</file>
      <file>tests/HasLoginsAndDevicesTest.php</file>
    </testsuite>
  </testsuites>
  <php>
    <env name="SESSION_DRIVER" value="array"/>
    <env name="CACHE_DRIVER" value="array"/>
    <env name="APP_KEY" value="AckfSECXIvnK5r28GVIWUAxmbBSjTsmF"/>
  </php>
  <source>
    <include>
      <directory suffix=".php">src/</directory>
    </include>
  </source>
</phpunit>
